<!doctype html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }"
    th:with="activeMenuItem = 'users'">
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900"
            th:text="${editMode?.name() == 'UPDATE'} ? #{user.edit} : #{user.create}">CREATE USER</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">

                <form id="user-form"
                    th:object="${user}"
                    th:action="${ editMode?.name() == 'UPDATE' } ? @{/users/{id}/edit(id=${user.getId()})} : @{/users/create}"
                    method="post">

                    <div>
                        <div th:replace="~{ fragments/forms :: field-errors-summary }"></div>
                        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                            <input th:if="${editMode?.name() == 'UPDATE'}"
                                   th:field="*{version}"
                                   type="hidden">
                            <div class="sm:col-span-6" th:with="errorsPresent = ${#fields.hasErrors('gender')}">
                                <label class="block text-sm font-medium text-gray-700"
                                       th:text="#{user.gender}">
                                    GENDER
                                </label>
                                <div>
                                    <th:block th:each="possibleGender, iter : ${genders}">
                                        <input type="radio"
                                               th:id="${'gender-' + possibleGender}"
                                               th:field="*{gender}"
                                               th:value="${possibleGender}"
                                               class="mr-1 focus:ring-green-500 h-4 w-4 text-green-500 border-gray-300"
                                               th:classappend="${iter.index > 0 ? 'ml-4' : ''}">
                                        <label th:for="${'gender-' + possibleGender}"
                                               th:text="#{'Gender.' + ${possibleGender}}"
                                               class="text-sm font-medium text-gray-700">
                                        </label>
                                    </th:block>
                                </div>
                                <th:block th:if="${errorsPresent}"
                                          th:insert="~{ fragments/forms :: field-error-text(
                                        id = 'gender-error',
                                        text = ${#strings.listJoin(#fields.errors('gender'), ', ')}
                                   ) }"></th:block>
                            </div>

                            <div class="sm:col-span-3" th:with="errorsPresent = ${#fields.hasErrors('firstName')}">
                                <label for="firstName"
                                       class="block text-sm font-medium text-gray-700"
                                    th:text="#{user.firstName}">
                                    FIRST NAME
                                </label>
                                <div class="mt-1 relative rounded-md shadow-sm">
                                    <input type="text"
                                           name="firstName"
                                           id="firstName"
                                           autocomplete="given-name"
                                           th:field="*{firstName}"
                                           class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                            th:classappend="${ errorsPresent
                                                ? 'border-red-300 focus:border-red-300 focus:ring-red-500'
                                                : 'focus:ring-green-500 focus:border-green-500'
                                            }">

                                    <th:block th:if="${errorsPresent}" th:insert="~{ fragments/forms :: field-error-icon }"></th:block>
                                </div>

                                <th:block th:if="${errorsPresent}"
                                          th:insert="~{ fragments/forms :: field-error-text(
                                        id = 'firstName-error',
                                        text = ${#strings.listJoin(#fields.errors('firstName'), ', ')}
                                   ) }"></th:block>
                            </div>

                            <div class="sm:col-span-3" th:with="errorsPresent = ${#fields.hasErrors('lastName')}">
                                <label for="lastName"
                                       class="block text-sm font-medium text-gray-700"
                                       th:text="#{user.lastName}">
                                    LAST NAME
                                </label>
                                <div class="mt-1 relative rounded-md shadow-sm">
                                    <input type="text"
                                           name="lastName"
                                           id="lastName"
                                           autocomplete="family-name"
                                           th:field="*{lastName}"
                                           class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                        th:classappend="${errorsPresent
                                            ? 'border-red-300 focus:ring-red-500 focus:border-red-300'
                                            : 'focus:ring-green-500 focus:border-green-500'}">
                                    <th:block th:if="${errorsPresent}" th:insert="~{ fragments/forms :: field-error-icon }"></th:block>
                                </div>

                                <th:block th:if="${errorsPresent}"
                                          th:insert="~{ fragments/forms :: field-error-text(
                                        id = 'lastName-error',
                                        text = ${#strings.listJoin(#fields.errors('lastName'), ', ')}
                                   ) }"></th:block>
                            </div>

                            <div class="sm:col-span-4" th:with="errorsPresent = ${#fields.hasErrors('email')}">
                                <label for="email"
                                       class="block text-sm font-medium text-gray-700 leading-5"
                                       th:text="#{user.email}">
                                    EMAIL ADDRESS
                                </label>
                                <div class="mt-1 relative rounded-md shadow-sm">
                                    <input type="email"
                                           id="email"
                                           th:field="*{email}"
                                           class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                        th:classappend="${errorsPresent ? 'border-red-300 focus:border-red-300 focus:ring-red-500' : 'focus:ring-green-500 focus:border-green-500'}">
                                    <th:block th:if="${errorsPresent}" th:insert="~{ fragments/forms :: field-error-icon }"></th:block>
                                </div>

                                <th:block th:if="${errorsPresent}"
                                          th:insert="~{ fragments/forms :: field-error-text(
                                        id = 'email-error',
                                        text = ${#strings.listJoin(#fields.errors('email'), ', ')}
                                   ) }"></th:block>
                            </div>

                            <div class="sm:col-span-4" th:with="errorsPresent = ${#fields.hasErrors('phoneNumber')}">
                                <label for="phoneNumber"
                                       class="block text-sm font-medium text-gray-700 leading-5"
                                        th:text="#{user.phoneNumber}">
                                    PHONE NUMBER
                                </label>
                                <div class="mt-1 relative rounded-md shadow-sm">
                                    <input id="phoneNumber"
                                           type="text"
                                           th:field="*{phoneNumber}"
                                           class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                        th:classappend="${ errorsPresent ? 'border-red-300 focus:border-red-300 focus:ring-red-500' : 'focus:border-green-500 focus:ring-green-500' }">
                                    <th:block th:if="${errorsPresent}" th:insert="~{ fragments/forms :: field-error-icon }"></th:block>
                                </div>
                                <th:block th:if="${errorsPresent}"
                                   th:insert="~{ fragments/forms :: field-error-text(
                                        id = 'phoneNumber-error',
                                        text = ${#strings.listJoin(#fields.errors('phoneNumber'), ', ')}
                                   ) }"></th:block>
                            </div>

                            <div class="sm:col-span-2"></div>
                            <div class="sm:col-span-2" th:with="errorsPresent = ${#fields.hasErrors('birthday')}">
                                <label for="birthday"
                                       class="block text-sm font-medium text-gray-700 leading-5"
                                       th:text="#{user.birthday}">
                                    BIRTHDAY
                                </label>
                                <div class="mt-1 relative rounded-md shadow-sm">
                                    <input id="birthday"
                                           name="birthday"
                                           type="text"
                                           th:field="*{birthday}"
                                           th:placeholder="#{user.birthday.placeholder}"
                                           class="shadow-sm block w-full sm:text-sm border-gray-300 rounded-md"
                                        th:classappend="${ errorsPresent ? 'border-red-300 focus:border-red-300 focus:ring-red-500' : 'focus:border-green-500 focus:ring-green-500' }">
                                    <th:block th:if="${errorsPresent}" th:insert="~{ fragments/forms :: field-error-icon }"></th:block>
                                </div>
                                <th:block th:if="${errorsPresent}"
                                   th:insert="~{ fragments/forms :: field-error-text(
                                        id = 'birthday-error',
                                        text = ${#strings.listJoin(#fields.errors('birthday'), ', ')}
                                   ) }"></th:block>
                            </div>
                        </div>
                    </div>

                    <div class="mt-8 border-t border-gray-200 pt-5">
                        <div class="flex justify-end">
                            <span class="inline-flex rounded-md shadow-sm">
                                <button type="button"
                                    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                                    th:text="#{action.cancel}">
                                    CANCEL
                                </button>
                            </span>

                            <span class="ml-3 inline-flex rounded-md shadow-sm">
                                <button type="submit"
                                    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                                    th:text="${editMode?.name() == 'UPDATE'} ? #{action.save} : #{action.create}">
                                    SAVE
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>